.contact {
    width: 100%;
    min-height:100vh;
    padding: 15px;
    background: #178cb3;
    background: -webkit-linear-gradient(left, #3ea7ca, #cae8d8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contact {
    width: 1160px;
    background-color: #ffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px 130px 88px 148px;

}
.form-contact{
    width: 390px;
   
}

.form-contact-title{
    display: block;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    color: #333;
    line-height:1.2;
    text-align: center;
    padding-bottom: 44px;
}

.input1{
    font-family:'Kanit', sans-serif;
    display: block;
    width: 100%;
    background: #e6e6e6 !important;
    font-size: 15px;
    line-height: 1.5;
    color: #666 !important;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
    padding: 12px 30px;
    height: 45px;

}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

.container-contact-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #C571AD;
    font-family:'Kanit', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    letter-spacing: 1px;
}

span i{
    padding-left: 10px;
}